@import "_mixins/font-face";

@font-face {
  font-family: 'arimobold';
  src: url('../fonts/arimo-bold-webfont.woff2') format('woff2'),
  url('../fonts/arimo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimobold_italic';
  src: url('../fonts/arimo-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/arimo-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimoitalic';
  src: url('../fonts/arimo-italic-webfont.woff2') format('woff2'),
  url('../fonts/arimo-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arimoregular';
  src: url('../fonts/arimo-regular-webfont.woff2') format('woff2'),
  url('../fonts/arimo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}