@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.colors__item:nth-child(1) .colors__img {
    width: calc(220px*0.85);
    height: calc(220px*0.85);
  }

  .colors__item:nth-child(2) .colors__img {
    width: calc(162px*0.85);
    height: calc(162px*0.85);
  }

  .colors__item:nth-child(3) .colors__img {
    width: calc(264px*0.85);
    height: calc(264px*0.85);
  }

  .colors__item:nth-child(4) .colors__img {
    width: calc(114px*0.85);
    height: calc(114px*0.85);
  }

  .prototype__img {
    margin-right: inherit;
  }

  .three-ways__item:nth-of-type(5) .three-ways__text p {
    padding-left: 14%;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  html {
    font-size: 14px;
  }

  .icons {
    padding-bottom: 0;
  }

  .icons__pic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(80px);
  }

  .prototype__abs {
    left: -25%;
  }

  .section__title span{
    margin-right: rem(30px);
    margin-left: rem(30px);
  }

  .three-ways__item:nth-of-type(1) .three-ways__text p {
    margin-left: 14%;
  }

  .three-ways__item:nth-of-type(2) .three-ways__text p {
    padding-right: 0;
  }

  .three-ways__item:nth-of-type(3) .three-ways__text p {

    &::before {
      top: 80px;
      left: -20px;
    }
  }

  .three-ways__item:nth-of-type(5) .three-ways__text p {

    &::before {
      top: 80px;
    }
  }
}

// ≥768px
@include media-breakpoint-down(sm) {
  html {
    font-size: 13px;
  }

  img {
    max-width: 100%;
  }

  .intro {
    padding: 0;
  }

  .intro__item {
		padding-top: 0;
		margin-bottom: 50px;
	}

	.intro__item .intro__img img {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
  }
  
	.intro__item .intro__text {
		margin-bottom: 20px;
  }
  
	.intro__item:nth-child(2n+1) .intro__text {
		order: 1;
  }
  
	.intro__item .intro__img {
		order: 2;
  }
  
	.intro__item::after {
		content: none;
  }
  
	.intro__text::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		border-bottom: 4px solid rgb(255, 255, 255);
		width: 75%;
		z-index: 0;
  }
  
  .icons__pic {
    margin-bottom: rem(40px);
  }

  .three-ways {

    h2 {
      margin-bottom: rem(120px);
    }
  }
  
	.three-ways__text {
		order: 1;
	}
	.three-ways__img{
		order: 2;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-top: 30px;
    justify-content: center;
    align-items: center;
	}
	.three-ways__img img{
    width: 80%;
		position: static;
  }
  
  .three-ways__item {
    margin-bottom: rem(150px);
  }
	.three-ways__item:nth-of-type(n) .three-ways__text::before {
		width: 100%;
	}
  .three-ways__item:nth-of-type(1) .three-ways__text p{
  margin-left: 50px;
  width: 60%;

  &::before {
   top: 40%;
   left: -50px;
  }
}
  .three-ways__item:nth-of-type(2) .three-ways__text p{
    padding: 0;
    width: 60%;
  }
  .three-ways__item:nth-of-type(3) .three-ways__text p{
    padding: 0;
    margin-left: 50px;
    width: 60%;

    &::before {
      top: 40%;
      left: -50px; 
    }
  }

  .three-ways__item:nth-of-type(4) .three-ways__text p {
    padding: 0;
    width: 60%;
  }

  .three-ways__item:nth-of-type(5) .three-ways__text p{
    padding: 0;
    width: 60%;

    &::before {
      top: 40%;
      left: -50px; 
    }
  }

  .three-ways__item:nth-of-type(5) {
    margin-top: 0;

    .three-ways__text p {
      margin-left: 50px;
      padding: 0;
      width: 60%;
      
      &::before {
        left: -50px; 
      }
    }
  }

  .three-ways__item:last-child {
    margin-bottom: 0;
  }

  .how__img {
    max-width: 100%;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  html {
    font-size: 12px;
  }

  main {
    padding: 0 10px;
  }

  .section__title {
    font-size: 60px;
  }

  .colors__item:nth-child(1) .colors__img {
    width: calc(220px*0.6);
    height: calc(220px*0.6);
  }

  .colors__item:nth-child(2) .colors__img {
    width: calc(162px*0.6);
    height: calc(162px*0.6);
  }

  .colors__item:nth-child(3) .colors__img {
    width: calc(264px*0.6);
    height: calc(264px*0.6);
  }

  .colors__item:nth-child(4) .colors__img {
    width: calc(114px*0.6);
    height: calc(114px*0.6);
  }

  .section__title:after, .section__title:before {
    border: none;
  }

  .intro {
    padding-bottom: 0;
  }
  
  .colors__item {

    .colors__img {
      margin-right: rem(50px);
      margin-left: rem(50px);
    }
  }

  .three-ways {
    padding-bottom: 0;
  }

  .three-ways__item .three-ways__text p {
    font-size: 14px;
  }

  .three-ways__item:nth-of-type(1) .three-ways__text p {
    width: 80%;
  }

  .three-ways__item:nth-of-type(2) .three-ways__text p {
    width: 80%;
  }

  .three-ways__item:nth-of-type(3) .three-ways__text p {
    width: 80%;
  }

  .three-ways__item:nth-of-type(4) .three-ways__text p {
    width: 80%;
  }

  .three-ways__item:nth-of-type(5) .three-ways__text p {
    width: 80%;
  }

  .how {
    padding-bottom: 0;
  }

  .screens {
    padding-bottom: 0;
  }

  .prototype {
    padding-bottom: 0;
    padding-top: 0;
  }

  .prototype__abs {
    display: none;
  }

  .prototype__img {
    margin: auto;
    width: 80%;
  }

  .screens__img {
    top: -75px;
    min-width: 140%;
    left: -70px;
  }

  .three-ways {
    padding-bottom: rem(100px);
  }

  .screens {
    margin-bottom: 0;
    width: 100%;
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
