@import "vars";
@import "fonts";
@import "libs";
@import "./common/header";
@import "./common/section";
@import "./common/intro";
@import "./common/colors";
@import "./common/typography";
@import "./common/icons";
@import "./common/three-ways";
@import "./common/how";
@import "./common/screens";
@import "./common/prototype";
@import "./common/video";
@import "./common/footer";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

html {
  height: 100%;
}

body {
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: #fff;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3 {
  line-height: 1;
  font-size: 31px;
  text-transform: uppercase;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

b, strong {
	font-weight: bold;
}

.wrapper {
  min-width: 320px;
  overflow: hidden;
  background-color: #2b2937;
  position: relative;
}

.displayNone {
  display: none;
}

.gradient {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(12deg, #2b2937 0%, #391868 10%, #2b2936 40%, #391868 80%, rgba(255,255,255,0) 92%);
}

main, footer {
  position: relative;
  z-index: 5;
}

section {
  position: relative;
}


@import "media"; // Always at the end
