.footer {
	padding: rem(80px) 0;
	font-size: rem(27px);
	text-align: center;
  line-height: 1;
  
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.footer__dec-pic {
  position: absolute;
  left: -368px;
  top: -60%;

  img {
    width: 80%;
  }
}