.header {
  background-position: center bottom;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.header__content {
  position: relative;
  z-index: 5;
  padding-top: rem(70px);
  text-align: center;
}

.logo {
  display: inline-block;
  margin-bottom: rem(25px);
}

.header__desc {
  font-size: rem(20px);
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: rem(30px);
}
