.intro {
	padding-top: rem(180px);
	padding-bottom: rem(120px);
}

.intro__item {
	color: #fff;
	text-align: center;
	position: relative;
	padding-top: rem(120px);
	margin-bottom: rem(175px);
}

.intro__item:after {
	content: '';
	position: absolute;
	bottom: 0;
	border-bottom: 4px solid rgb(255, 255, 255);
	width: 65%;
	z-index: 0;
}

.intro__item:nth-child(odd) .intro__text {
	order: 2;
	margin-left: auto;
}

.intro__item:nth-child(even) .intro__text {
	margin-right: auto;
}

.intro__item:nth-child(odd):after {
	right: 0;
}

.intro__item:nth-child(even):after {
	left: 0;
}

.intro__item {

  .nums {
    font-size: rem(190px);
    color: rgb(255, 223, 94);
    text-align: center;
    text-shadow: 6px 15px 13px #1f1439;
    line-height: 1;
  }

  h3 {
    font-weight: 400;
    line-height: 1;
    font-size: 31px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: -3px;
  }
}

.intro__desc {
  font-size: 20px;
  margin-bottom: 20px;
}

.intro__item .intro__img img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}
