.prototype{
	padding-top: rem(100px);
	padding-bottom: rem(100px);
	position: relative;
}
.prototype__img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
	background-image: url(../images/prot_bgd.png);
	background-size: 100% 100%;
	height: 710px;
  width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.prototype__img a:link,
.prototype__img a:visited,
.prototype__img a:hover,
.prototype__img a:active{
	font-size: 14px;
	color: rgba(255, 255, 255, 0.502);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.prototype__img a span{
	margin-bottom: 10px;
}
.prototype__abs{
	height: 100%;
  top: -15%;
  position: absolute;
  left: 0;
}

.prototype__logo {
  transition: .3s;

  &:hover {
    transform: scale(1.05);
  }
}