.section__title{
	font-size: rem(97px);
	line-height: 1;
	color: rgb(255, 223, 94);
	font-weight: bold;
	text-align: center;
	text-shadow: 6px 15px 13px #1f1439;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: rem(120px);
}
.section__title:after,
.section__title:before{
	content: '';
	border: 4px solid #fff;
	width: rem(85px);
}
.section__title span{
	margin-right: rem(40px);
	margin-left: rem(40px);
}